html
    head
        meta(charset='utf-8')
        title Movie Selector
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel='stylesheet', href='../style.css')
    body
        .header
            include header.pug
            h2=`${Data.title}   [${Data.rating}/10]`
            h3=`Directed By ${Data.director}`
            br
            h3 Actors
            ul(style="list-style: none")
                each item in Data.actors
                    li(style="display: inline")=`${item}, `

            h3 Genres
            ul(style="list-style: none")
                each item in Data.genres
                    li(style="display: inline")=`${item}, `
            
            h3 tags
            ul(style="list-style: none")
                each item in Data.tags
                    li(style="display: inline")=`${item}, `

            h3 Comment Section
            ul(style="list-style: none")
                each item in Data.tags
                    li(style="display: inline")=`${item}, `